{
  "name": "{{PLUGIN_NAME}}",
  "version": "{{VERSION}}",
  "description": "{{DESCRIPTION}}",
  "author": {
    "name": "{{AUTHOR_NAME}}",
    "email": "{{AUTHOR_EMAIL}}"
  },
  "homepage": "{{HOMEPAGE_URL}}",
  "repository": "{{REPOSITORY_URL}}",
  "license": "{{LICENSE}}",
  "keywords": {{KEYWORDS}}
}
